

<header>
<h1>{{title}}</h1>
<a href="/login">login</a>
<a href="/">Weather</a>
<a href="/about">About</a>
<a href="/help">Help</a>
<a href="/video">Video Support</a>
<a href="/register">Register</a>

</header>