<!DOCTYPE html>

<html>

<head>
    <title>About</title>

    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  
<dev class="main-content">

{{>header}}
<P>This site was created by me and it uses darksky.net and mapbox.com</P>

<img class="portrait"src="/img/pic1.jpg">
</dev>



{{>footer}}
</body>



    

</html>
