<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="/css/styles.css">

</head>
<title>Help</title>
<dev class="main-content">

{{>header}}

<p>{{helpmsg}}</p>

</dev>

<body>

{{>footer}}
</body>

    

</html>
