<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/css/styles.css">
<head>
<title>login page</title>
<link rel="icon" href="/img/weather.png">


</head>
<body>

<div >
{{>login_header}} 
</div>
<p>please login with your account </p>

    <form id="form1">
       
            <input id="username" placeholder="user name ">
        

<div>
<input id="password" type="password" placeholder="password">
</div>
<button>
    login
</button>

    </form>



<p id="error-log"></p>



{{>footer}}

<script src="/js/applogin.js">

</script>

</body>


</html>
