<!DOCTYPE html>

<html>
 <link rel="stylesheet" href="/css/styles.css">
<head>
<title>Video Support</title>

    
</head>



<body>



<dev class="main-content">

{{>header}}

<video class="Vedit"width="100" height="100"  controls>
  <source src="/img/" type="video/mp4">
 
 </video>

</dev>





{{>footer}}
</body>

    

</html>
